


    <ul class="list-group">
  <li class="list-group-item list-group-item-info"" ng-repeat="item in list.items">
    <h3>{{ item.name }} ({{ item.short_name }})</h3> <p>{{ item.description }}</p>
    <button  class="btn btn-danger btn-xs" ng-click="list.onRemove({index: $index});">
      <span class="glyphicon glyphicon-remove"></span> Don't want this one!</button>
  </li>
</ul>

<div  class="alert alert-warning " role="alert"  ng-if="list.items.length==0">
  <span class="glyphicon glyphicon-remove"></span> Nothing found</div>

 
