 @media (max-width:767px){
  .nav {
    background: #C4C9DF;
  }
  .nav > li {
    border-bottom: 1px solid #5160AA;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #5160AA;
}
.navbar-default .navbar-toggle {
    border-color: #5160AA;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #5160AA;
}
.navbar-nav{
  margin-top:0;
  margin-bottom: 0;
}
#chicken{
  background:#ccc;
  margin:15px;
  padding:10px;
}